@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.underline {
  text-decoration: underline;
}

.txt-white {
  color: #ffffff;
}

.txt-black {
  color: #000000;
}

.txt-gray {
  color: #adadad;
}

.txt-light-gray {
  color: #f4f3ef;
}

.bg-white {
  color: #ffffff;
}

.bg-black {
  color: #000000;
}

.bg-gray {
  color: #adadad;
}

.bg-light-gray {
  color: #f4f3ef;
}

.w-1 {
  width: 100%;
}

.w-2 {
  width: 50%;
}

.w-3 {
  width: 33.33%;
}

.w-4 {
  width: 25%;
}

.w-5 {
  width: 20%;
}

.w-6 {
  width: 16.66%;
}

.w-7 {
  width: 14.28%;
}

.w-8 {
  width: 12.5%;
}

.w-9 {
  width: 11.11%;
}

.w-13 {
  width: 66.67%;
}

.w-14 {
  width: 75%;
}

.w-15 {
  width: 80%;
}

.w-16 {
  width: 83.34%;
}

.w-17 {
  width: 85.72%;
}

.w-18 {
  width: 87.5%;
}

.w-19 {
  width: 88.89%;
}

@media screen and (max-width: 768px) {
  .w-1 {
    width: 100%;
  }
  .w-2 {
    width: 100%;
  }
  .w-3 {
    width: 100%;
  }
  .w-4 {
    width: 100%;
  }
  .w-5 {
    width: 100%;
  }
  .w-6 {
    width: 100%;
  }
  .w-7 {
    width: 100%;
  }
  .w-8 {
    width: 100%;
  }
  .w-9 {
    width: 100%;
  }
  .w-13 {
    width: 100%;
  }
  .w-14 {
    width: 100%;
  }
  .w-15 {
    width: 100%;
  }
  .w-16 {
    width: 100%;
  }
  .w-17 {
    width: 100%;
  }
  .w-18 {
    width: 100%;
  }
  .w-19 {
    width: 100%;
  }
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
    width: 100%;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fd-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fd-col-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header .container {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .container .logos {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .right-side {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .container .right-side .social-media {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .container .right-side .header-options {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .container .right-side .header-options a {
  text-decoration: none;
}

header .container .right-side .header-options #contact_us {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #333333;
}

header .container .right-side .header-options #arabic {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
  color: #909FBA;
}

header .container .right-side .header-options #column {
  border: #909FBA solid 1px;
  height: 17px;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}

footer .col-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

footer iframe {
  width: 100%;
  height: auto;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
}

main .banner {
  width: 100%;
  height: 85vh;
}

main .banner .description {
  margin-top: -7rem;
  margin-left: 3rem;
  width: 60%;
}

main .banner .description p {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 1.5rem;
}

main .banner .description .pageNumber {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

main .banner .description .title {
  font-weight: 700;
  font-size: 78px;
  line-height: 78px;
  letter-spacing: -2px;
}

main .banner .description .bref {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  width: 70%;
}

main .banner .description .read-btn {
  background-color: #127533;
  width: 8rem;
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
}

main .banner .description .read-btn a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1px;
}

main .rectangle {
  margin-top: -5rem;
}

main .rectangle .container {
  padding: 1rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

main .rectangle .container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7%;
}

main .rectangle .container .item img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .rectangle .container .item p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #333333;
  padding-top: 1rem;
}

main .part-2 {
  width: 100%;
}

main .part-2 .container .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 70%;
}

main .part-2 .container .articles .col-1 .item {
  color: #333333;
  font-size: 20px;
  line-height: 28px;
  padding: 2rem;
  -webkit-box-shadow: 0px 14px 40px rgba(57, 53, 80, 0.06);
          box-shadow: 0px 14px 40px rgba(57, 53, 80, 0.06);
  border-radius: 10px;
  margin-bottom: 1rem;
}

main .part-2 .container .articles .col-2 .item {
  color: #333333;
  font-size: 20px;
  line-height: 28px;
  padding: 2rem;
  -webkit-box-shadow: 0px 14px 40px rgba(57, 53, 80, 0.06);
          box-shadow: 0px 14px 40px rgba(57, 53, 80, 0.06);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

main .part-2 .container .articles .col-2 a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #127533;
}

main .part-3 {
  width: 100%;
}

main .part-3 .container .imgs {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .part-3 .container .imgs .item img {
  border-radius: 2rem;
  width: 12rem;
}

main .part-3 .container .imgs .item .text {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

main .part-4 {
  width: 100%;
}

main .part-4 .container {
  width: 100%;
}

main .part-4 .container .title {
  text-align: left;
  width: 100%;
}

main .part-4 .container img {
  width: 50rem;
}

main .part-5 {
  width: 100%;
}

main .part-5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

main .part-5 .container .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-bottom: 5rem;
}

main .part-5 .container .green-bg {
  width: 100%;
  background-color: #0D722E;
}

main .part-5 .container .green-bg .interior-box {
  background-color: #FFFFFF;
  width: 65%;
  margin: auto;
  -webkit-box-shadow: 0px 14px 40px rgba(57, 53, 80, 0.06);
          box-shadow: 0px 14px 40px rgba(57, 53, 80, 0.06);
  border-radius: 10px;
  padding: 4rem;
  margin-top: -4rem;
  height: 7rem;
}

main .part-5 .container .green-bg .interior-box .title-number {
  font-size: 14px;
  margin: 0;
}

main .part-5 .container .green-bg .interior-box .title-subject {
  font-size: 24px;
  margin: 0;
  width: 100%;
}

main .part-5 .container .green-bg .interior-box .title-description {
  font-size: 14px;
  width: 100%;
  margin: 1rem 0;
}

main .part-5 .container .green-bg .interior-box .read-more {
  font-size: 14px;
}

.financial_inclusion_explanation {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.title-number {
  color: #909FBA;
  font-size: 24px;
  line-height: 24px;
}

.title-subject {
  width: 60%;
  font-size: 38px;
  color: #333333;
  margin: 1rem 0;
}

.title-description {
  width: 60%;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  margin: 2rem 0;
}

.banner {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .text {
  padding: 5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.read-more {
  text-decoration: none;
  color: #127533;
  font-size: 14px;
  line-height: 24px;
}

.contact-form {
  font-family: 'Open Sans',sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}

.footer-logo {
  background-color: #EFF2FA;
}

.footer-logo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans',sans-serif;
}

.footer-logo .container img {
  width: 8rem;
}

main {
  position: relative;
}

main .vector-left {
  width: 13rem;
  position: absolute;
  left: 0;
  top: 13rem;
}

main .vector-right {
  width: 13rem;
  position: absolute;
  right: 0;
  top: 22rem;
}

main .container {
  width: 100%;
  padding: 0;
}

main .container img {
  height: 87vh;
  width: 100%;
}

.page_content {
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 5rem;
}

.page_content h2 {
  width: 65%;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: -2px;
  text-align: center;
  color: #333333;
  margin: 5rem auto;
}

.page_content h3 {
  width: 50%;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin: auto;
  text-align: justify;
}

.page_content .points {
  margin-left: 4rem;
}

.page_content .points h4 {
  position: relative;
  width: 50%;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  color: #333333;
  margin: 3rem auto;
  margin-bottom: -3rem;
}

.page_content .points h4::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #333333;
  border: #333333 1px solid;
  border-radius: 50%;
  top: 10px;
  left: -45px;
}

.page_content .points p {
  margin-bottom: 4rem;
}

.page_content p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #666666;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  text-align: justify;
}

.page_content img {
  display: block;
  margin: 3rem auto;
  border-radius: 10px;
}

.page_content .pdf_doc {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.page_content .pdf_doc a {
  margin-top: 2rem;
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.page_content .pdf_doc a span {
  color: #048CFC;
  font-size: 25px;
}

.page_content .pdf_doc a img {
  display: inline;
  width: 20px;
  margin: 0 0 -4px 0;
}
/*# sourceMappingURL=style.css.map */