body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
header{
  .container{
    margin:auto;
      width: 100%;
      display: flex;
      align-items:center;
      justify-content: space-evenly;
      .logos{
        width: 30%;
        display: flex;
        align-items: center;
    }
    .right-side{
        width: 30%;
        display: flex;
        align-items:center;
        justify-content: space-around;

        .social-media{
            width: 28%;
            display: flex;
            align-items:center;
            justify-content: space-around;
          }
    .header-options{
        width: 60%;
        display: flex;
        align-items:center;
        justify-content: space-around;
        a{
            text-decoration: none;
        }
      #contact_us{
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #333333;
      }
      #arabic{
        font-family: 'Almarai', sans-serif;
        font-weight: 700;
        color: #909FBA;
      }
      #column{
          border: #909FBA solid 1px;
          height: 17px;
      }
    }
    }
  }
}