
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');


.uppercase {
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}
