
$white: #ffffff;
$black: #000000;
$gray: #adadad;
$light-gray:#f4f3ef;



//////////// Text Color ///////////////

.txt-white{
    color: $white;
}

.txt-black{
    color: $black;
}

.txt-gray{
    color: $gray;
}

.txt-light-gray{
    color: $light-gray;
}
