.container {
  padding: 0 15px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container{
    padding: 0 2rem;
    width: 100%;
  }
}

